@font-face {
  font-family: "NanumGothic";
  src: url("./asset/fonts/NanumGothic-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;

  color: #fff;
  font-family: "NanumGothic", sans-serif;
  font-size: 1.6vmin;

  user-select: none;
}

*::-webkit-scrollbar {
  width: 0.6vmax;
}
*::-webkit-scrollbar-thumb {
  background-color: #666;
  background-clip: padding-box;
  border: 2px solid transparent;
}

*[hover-info]:hover::before {
  position: absolute;
  bottom: 100%;
  right: 100%;

  padding: 0.5vmin;

  content: attr(hover-info);

  background-color: #0008;
  color: #fff;
  font-weight: normal;
  text-shadow: none;
  font-size: 1.6vmin;
  white-space: pre;
}

body {
  display: flex;

  background-color: #191919;

  overflow: hidden;
}

#game-canvas-wrapper {
  width: 70vw;
  height: 100vh;
}
#list {
  width: 29.8vw;
  height: 100vh;

  border-left: 0.2vw solid #fff;
}


#list-title {
  --progress: 0%;

  height: 6vh;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-size: 2em;
  font-weight: bold;

  background: linear-gradient(
    90deg,
    #585125 var(--progress),
    #0000 var(--progress)
  );
}
#list-wrapper {
  max-height: 94vh;

  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);

  overflow-y: scroll;
}

#list-wrapper > .list-item {
  position: relative;
  margin: 1vh 0;

  width: 5vw;
  height: 5vw;

  background-color: #222;
  box-shadow: 0 0 0.4vmin #000;

  transition: filter cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s;
  cursor: pointer;
}
#list-wrapper > .list-item.hidden {
  display: none;
}
#list-wrapper > .list-item.completed {
  background-color: #585125;
  order: 999999;
}
#list-wrapper > .list-item:hover {
  filter: invert(1);
}
#list-wrapper > .list-item[inner-info]:hover::after {
  display: block;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(3px);

  content: attr(inner-info);
}
#list-wrapper > .list-item > div {
  position: absolute;
}
#list-wrapper > .list-item > .list-item__glyph {
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  user-select: all;
  font-size: 2em;
}
#list-wrapper > .list-item > .list-item__tier {
  bottom: 4%;
  right: 4%;

  font-size: 0.7em;
}
#list-wrapper > .list-item > .list-item__idx {
  top: 4%;
  left: 4%;

  font-size: 0.7em;
}
#list-wrapper > .list-item > .list-item__idx::before {
  content: "#";
  color: #888;
}
#list-wrapper > .list-item > .list-item__progress {
  --progress: 0%;

  bottom: 0%;
  left: 0%;

  width: 100%;
  height: 5%;

  background: linear-gradient(
    90deg,
    #585125 var(--progress),
    #0000 var(--progress)
  );
}

#info {
  position: absolute;
  bottom: 2vmin;
  right: 2vmin;

  width: 3vmin;
  height: 3vmin;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bold;
  font-size: 1.4em;

  background-color: #333;
  border-radius: 50%;
  box-shadow: 0 0 0.5vmin #888;
}

@media screen and (orientation: portrait) {
  body {
    flex-direction: column;
  }

  #game-canvas-wrapper {
    width: 100vw;
    height: 60vh;
  }

  #list {
    width: 100vw;
    height: 40vh;
  
    border-left: unset;
    border-top: 0.2vw solid #fff;
  }
}
